/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 125%;
}

body{
  width: 100%;
  height: 100%;
  min-width: fit-content;
  min-height: fit-content;
}

/* Box sizing rules */
*,*::after,*::before{
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}